<AuthorizeView>
    <Authorized>
        <li>
            <div class="dropdown">
                <a data-toggle="dropdown" class="active" href="#" aria-haspopup="true">Admin <i class="fas fa-caret-down"></i></a>
                <div class="dropdown-content">
                    <div class="nav-header">Blog posts</div>
                    <a class="dropdown-item item" href="create">Create new</a>
                    <a class="dropdown-item item" href="draft">Show drafts</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item disabled item" href="#">Version 1.3</a>
                </div>
            </div>
        </li>
        <li><a href="logout">Log out</a></li>
    </Authorized>
    <NotAuthorized>
        <li><a href="login?redirectUri=/">Log in</a></li>
    </NotAuthorized>
</AuthorizeView>