<li><input type="text" @bind-value="@key" />:<input type="text" @bind-value="@value"/>
    <button type="button" class="btn btn-default" aria-label="Add Item" @onclick="@AddItemAsync">
        <i class="far fa-plus-square" aria-hidden="true"></i>
    </button>
</li>

@code {
    [Parameter] 
    public EventCallback<KeyValuePair<string, string>> ValueAdded { get; set; }
    
    private string key = string.Empty;
    private string value = string.Empty;

    private async Task AddItemAsync()
    {
        if (string.IsNullOrWhiteSpace(key) || string.IsNullOrWhiteSpace(value))
        {
            return;
        }

        await ValueAdded.InvokeAsync(new KeyValuePair<string, string>(key, value));
        key = value = string.Empty;
    }
}