@inject IJSRuntime jsRuntime
@inject AppConfiguration appConfiguration
<div class="giscus">
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && appConfiguration.IsGiscusEnabled)
        {
            await jsRuntime.InvokeAsync<IJSObjectReference>("import", "./Shared/Giscus.razor.js");
            await jsRuntime.InvokeVoidAsync("initGiscus", "giscus", appConfiguration.GiscusConfiguration);
        }
    }

}