.introduction-background {
    background-repeat: no-repeat;
    background-size: cover;
}

.introduction-container {
    padding-top: 78px;
    height: 438px;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    grid-template-areas: ". . . . . ." ". profile-picture profile-text profile-text profile-text ." ". . . . . .";
}

.profile-picture {
    grid-area: profile-picture;
    width: 175px;
    height: 175px;
    border-radius: 50%;
    border: white;
    margin: 4px 0 0 4px;
    box-shadow: 0 0 0 4px white;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.profile-text {
    grid-area: profile-text;
    font-size: clamp(1rem, 0.6479rem + 1.1268vw, 1.5rem);
    color: var(--text-color-inverted);
    line-height: clamp(1.5em, 0.6479rem + 1.1268vw, 2.25em);
}

@media only screen and (max-width: 700px) {
    .introduction-container {
        grid-template-columns: .5fr 1fr 1fr 1fr 1fr .5fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:
      ". . . . ." 
      ". . profile-picture profile-picture . ."
      ". profile-text profile-text profile-text profile-text ."
      ". profile-text profile-text profile-text profile-text .";
    }

    .introduction-container .profile-picture {
        margin-top: 10px;
        margin-left: 0;
    }
}