@using LinkDotNet.Domain
@inherits MarkdownComponentBase

<div style="--profile-background: url(@Introduction.BackgroundUrl)"
     class="inverted-colors introduction-background">
    <div class="introduction-container">
        <div class="profile-picture" style="--profile-image: url(@Introduction.ProfilePictureUrl)">

        </div>
        <div class="profile-text">
            @RenderMarkupString(Introduction.Description)
        </div>
    </div>
</div>
@code {
    [Parameter]
    public Introduction Introduction { get; set; }
}