@using LinkDotNet.Domain
@inherits MarkdownComponentBase

<div>
    <h1 style="text-align: center">About me</h1>
    <br/>
    <div style="text-align: center">
        @RenderMarkupString(Introduction.Description)
    </div>
</div>

@code {
    [Parameter]
    public Introduction Introduction { get; set; }
}