.profile-picture {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    border: white;
    margin: auto;
    box-shadow: 0 0 0 4px white;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.profile-text {
    padding-top: 15px;
    width: 60%;
    margin: auto;
    font-size: 1.5em;
    line-height: 1.5em;
}