@using LinkDotNet.Domain
@inherits MarkdownComponentBase

<div>
    <div class="profile-picture" style="background-image: url(@Introduction.ProfilePictureUrl)">
    </div>
    <div class="profile-text">
        @RenderMarkupString(Introduction.Description)
    </div>
</div>

@code {
    [Parameter]
    public Introduction Introduction { get; set; }
}