@using Blazored.Toast.Configuration
@inherits LayoutComponentBase

<BlazoredToasts Position="ToastPosition.BottomRight" />
<div class="position-relative">
    <NavMenu/>
    
    <div class="page">
        @Body
    </div>
</div>