@inject AppConfiguration configuration
@inject NavigationManager navigationManager

<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top navbar-background">
    <div class="container-fluid">
        <a class="nav-brand barcode ms-5" href="#">@configuration.BlogName</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 me-5">
                <li class="nav-item active"><a class="nav-link" href="#">Home</a></li>
                @if (configuration.HasLinkedinAccount)
                {
                    <li class="nav-item"><a class="nav-link" target="_blank" href="@configuration.LinkedinAccountUrl"><i 
                                                                                                                          class="fab fa-linkedin"></i>
                        LinkedIn</a></li>
                }
                @if (configuration.HasGithubAccount)
                {
                    <li class="nav-item"><a class="nav-link" target="_blank" href="@configuration.GithubAccountUrl"><i class="fab 
                    fa-github"></i> 
                        Github</a></li>
                }
                <AccessControl></AccessControl>
                <li class="nav-item d-flex">
                    <SearchInput SearchEntered="NavigateToSearchPage"></SearchInput>
                </li>
            </ul>
        </div>
    </div>
</nav>
@code {
    private void NavigateToSearchPage(string searchTerm)
    {
        var escapeDataString = Uri.EscapeDataString(searchTerm);
        navigationManager.NavigateTo($"search/{escapeDataString}");
    }
}