
.nav {
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.8);
    position: sticky;
    top: 0;
    backdrop-filter: blur(6px);
}

.logo {
    float: left;
}

.logo a {
    font-family: 'Libre Barcode 128 Text', cursive;
    text-decoration: none;
    font-size: 3rem;
    color: white;
    font-weight: 300;
}

.navlinks {
    float: right;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    padding-top: 23px;
}

.navlinks li {
    padding-left: 1.25rem;
}

.navlinks li a {
    text-decoration: none;
    font-size: 1.1rem;
    color: white;
}

.navlinks li a:hover {
    color: #66C3CC;
}