<div class="search-bar">
    <input type="text" class="search-bar-input" placeholder="search" aria-label="search"/>
    <button class="search-bar-button" aria-label="search submit"><i class="fas fa-search"></i></button>
</div>

@code {
    [Parameter]
    public string Value { get; set; }
}