.search-bar {
    border: 2px solid white;
    display: flex;
    border-radius: 100vh;
    overflow: hidden;
    height: 40px;
    padding: 3px;
    width: 40px;
    position: relative;
    transition: width 300ms ease-in-out;
}

.search-bar-input {
    flex-grow: 1;
    padding: 0 .5em;
    border: 0;
    opacity: 0;
    background: transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    color:white;
}

.search-bar-input:focus {
    outline: 0;
}

.search-bar-button {
    color: white;
    border: 0;
    border-radius: 100vh;
    margin-left: auto;
    width: calc(40px - 10px);
    height: calc(40px - 10px);
    cursor: pointer;
    background: transparent;
}

.search-bar:focus-within {
    width: 170px;
}

.search-bar:focus-within .search-bar-input {
    cursor: initial;
    opacity: 1;
    z-index: initial;
    max-width: 130px;
}