@using LinkDotNet.Domain
<div class="skill-table-container">
    <table class="skill-table">
        <tbody>
        <tr>
            <th>Capability</th>
            <th>Familiar with</th>
            <th>Proficient</th>
            <th>Expert</th>
        </tr>
        @foreach (var skillCapabilityGroup in skills.GroupBy(s => s.Capability))
        {
            <tr style="">
                <td style="width: 20%">@skillCapabilityGroup.Key</td>
                @foreach (var skillLevel in ProficiencyLevel.All)
                {
                    <td>
                        @foreach (var skill in skillCapabilityGroup.Where(s => s.ProficiencyLevel == skillLevel))
                        {
                            <div>
                                <SkillTag Skill="@skill"/>
                            </div>
                        }
                    </td>
                }
            </tr>
        }
        </tbody>
    </table>
</div>
@code {

    private List<Skill> skills = new()
    {
        new Skill() {Capability = "Backend", Name = "C#", ProficiencyLevel = ProficiencyLevel.Expert, IconUrl = "https://img.icons8.com/color/48/000000/c-sharp-logo.png"},
        new Skill() {Capability = "Backend", Name = ".NET", ProficiencyLevel = ProficiencyLevel.Expert, IconUrl = ""},
        new Skill() {Capability = "Backend", Name = "Java", ProficiencyLevel = ProficiencyLevel.Familiar, IconUrl = "https://img.icons8.com/ios/50/000000/java-coffee-cup-logo--v1.png"},
        new Skill() {Capability = "Frontend", Name = "Typescript", ProficiencyLevel = ProficiencyLevel.Expert, IconUrl = ""},
    };

}