@using LinkDotNet.Blog.Domain
@using LinkDotNet.Blog.Infrastructure.Persistence
@inject IRepository<Talk> Repository

@if (talks.Any() || ShowAdminActions)
{
    <Card Header="Talks">
        @if (ShowAdminActions)
        {
            <button type="button" class="btn btn-primary" @onclick="() => AddTalkEntryDialog.Open()">
                <i class="plus"></i>Add talk</button>
            <AddTalkEntryDialog @ref="AddTalkEntryDialog" TalkCreated="StoreTalk"></AddTalkEntryDialog>
        }
        <ul class="list-unstyled">
            @foreach (var talk in talks)
            {
                <TalkEntry Talk="talk" ShowAdminActions="ShowAdminActions" TalkDeleted="@(() => DeleteTalk(talk))"></TalkEntry>
            }
        </ul>
         @if (ShowAdminActions)
          {
            <small for="skill-table">If there is no entry, only you see this section.</small>
        }
    </Card>
}
@code {
    [Parameter]
    public bool ShowAdminActions { get; set; }

    private List<Talk> talks = new();

    private AddTalkEntryDialog AddTalkEntryDialog { get; set; }

    private async Task DeleteTalk(Talk talk)
    {
        talks.Remove(talk);
        await Repository.DeleteAsync(talk.Id);
    }

    private async Task StoreTalk(Talk talk)
    {
        talks.Add(talk);
        await Repository.StoreAsync(talk);
    }

}