@page "/settings"
@using LinkDotNet.Blog.Web.Features.Services
@using NCronJob
@inject IOptions<ApplicationConfiguration> ApplicationConfiguration
@inject ICacheInvalidator CacheInvalidator
@inject IToastService ToastService
@inject IInstantJobRegistry InstantJobRegistry
@attribute [Authorize]

<PageTitle>Settings</PageTitle>

<div class="container">
	<h3 class="fw-bold">Settings</h3>
	<table class="table table-responsive table-hover">
		<thead>
		<tr>
			<th scope="col">Configuration Name</th>
			<th scope="col">Description</th>
			<th scope="col">Value</th>
			<th scope="col">Actions</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td>Cache</td>
			<td>Clears all cached data including the first page, sitemap, and other cached content.<br/>
				Use this to immediately reflect changes across the blog.</td>
			<td>-</td>
			<td><button class="btn btn-warning" id="invalidate-cache" @onclick="InvalidateCacheAsync">Clear Cache</button></td>
		</tr>
		<tr>
			<td>Run Visit Counter Data Collection</td>
			<td>The visit counter data collection is a background job that collects the visit data of the blog posts.<br/>
				The job runs every 10 minutes. The job can be run on demand.</td>
			<td>10 Minutes</td>
			<td><button class="btn btn-warning" id="run-visit-transformer" @onclick="RunVisitTransformer">Run Transformer</button></td>
		</tr>
		</tbody>
	</table>
</div>

@code {
	private async Task InvalidateCacheAsync()
	{
		await CacheInvalidator.ClearCacheAsync();
		ToastService.ShowInfo("Cache was cleared.");
	}

	private void RunVisitTransformer()
	{
		InstantJobRegistry.RunInstantJob<TransformBlogPostRecordsJob>();
		ToastService.ShowInfo("Transformer was started.");
	}
}
