@page "/AboutMe"
@using LinkDotNet.Blog.Web.Shared.Skills
@inject AppConfiguration appConfiguration
@inject AuthenticationStateProvider authenticationStateProvider
@* TODO: Meta Tags About Me - [Name here] *@

@if (appConfiguration.IsAboutMeEnabled)
{
    <div class="page">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <Profile IsAuthenticated="@isAuthenticated"/>
                </div>
                <div class="col-lg-9 col-md-8 tab-container">
                    <div class="row">
                        <div class="col-md12 tab-content">
                            <SkillTable IsAuthenticated="@isAuthenticated"></SkillTable>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@code {

    private bool isAuthenticated;

    protected override async Task OnInitializedAsync()
    {
        var userIdentity = (await authenticationStateProvider.GetAuthenticationStateAsync()).User.Identity;
        if (userIdentity != null)
        {
            isAuthenticated = userIdentity.IsAuthenticated;
        }
    }

}