@page "/AboutMe"
@inject AppConfiguration appConfiguration
/* TODO: Meta Tags About Me - [Name here] */

<div class="page">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4">
                <Profile ProfileImageUrl="@appConfiguration.Introduction.ProfilePictureUrl"/>
            </div>
            <div class="col-lg-9 col-md-8 tab-container">
                <div class="row">
                    <em>Stuff</em>
                </div>
            </div>
        </div>
    </div>
</div>