@page "/BlogPost/{blogPostId}"
@using LinkDotNet.Infrastructure
@using LinkDotNet.Domain
@inject IRepository _repository
@inherits MarkdownComponentBase

<div class="blog-outer-box">
    <div class="content blog-container">
        <div class="blog-content">
            <header>
                <h1>@BlogPost.Title</h1></header>
            <div class="blogpost-date">
                @BlogPost.UpdatedDate
            </div>

            <div class="blogpost-content">
                @(RenderMarkupString(BlogPost.Content))
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string BlogPostId { get; set; }

    private BlogPost BlogPost { get; set; }

    protected override async Task OnInitializedAsync()
    {
        BlogPost = await _repository.GetByIdAsync(BlogPostId);
    }
}