@page "/"
@using LinkDotNet.Domain

<IntroductionCard Introduction="i"></IntroductionCard>

<div class="content px-4">
    <ShortBlogPost BlogPost="bp"></ShortBlogPost>
</div>

@code {

    BlogPost bp = new BlogPost
    {
        Title = "My first entry",
        ShortDescription = @"
This is my very first entry. *Hurray*!
",
        UpdatedDate = DateTime.Now

    };

    Introduction i = new Introduction
    {
        Description = @"Hey, my name is **Steven**. I am a **.NET Developer** based in Zurich, Switzerland. This is my small blog, which I wrote completely in Blazor. If you want to know more about me just check out my LinkedIn or Github.

Also this blogsoftware is open source on [Github](https://github.com/linkdotnet)",
        BackgroundUrl = "https://i.imgur.com/t66tpls.png",
        ProfilePictureUrl = "https://media-exp1.licdn.com/dms/image/C4D03AQGCECg3FlEwGg/profile-displayphoto-shrink_400_400/0/1575236200054?e=1630540800&v=beta&t=qsuy--UoUtRdEis021i5hAFw-i8PUWBHMSrGGnQkaqk",
    };

}