@page "/"
@using LinkDotNet.Domain
@using LinkDotNet.Infrastructure
@inject IRepository _repository
@inject AppConfiguration _appConfiguration

<IntroductionCard Introduction="_appConfiguration.Introduction"></IntroductionCard>

<div class="content px-4">
    @for (var i = 0; i < _blogPosts.Count; i++)
    {
        <ShortBlogPost BlogPost="_blogPosts[i]" SetAlt="@(i % 2 != 0)"></ShortBlogPost>
    }
</div>

@code {
    IList<BlogPost> _blogPosts;
    protected override async Task OnInitializedAsync()
    {
        _blogPosts = (await _repository.GetAllAsync()).OrderByDescending(o => o.UpdatedDate).ToList();
    }

}