@page "/searchByTag/{tag}"
@using LinkDotNet.Domain
@using LinkDotNet.Infrastructure.Persistence
@using Toolbelt.Blazor.HeadElement
@inject IRepository<BlogPost> blogPostRepository
@inject IUserRecordService userRecordService

<Title>Search for tag: @Tag</Title>

<div class="page">
    <h3>All posts with Tag <em>@Tag</em></h3>

    @for (var i = 0; i < blogPosts.Count; i++)
    {
        <ShortBlogPost BlogPost="blogPosts[i]" UseAlternativeStyle="@(i % 2 != 0)"></ShortBlogPost>
    }
</div>
@code {
    [Parameter]
    public string Tag { get; set; }
    
    IList<BlogPost> blogPosts = new List<BlogPost>();
    protected override async Task OnInitializedAsync()
    {
        await userRecordService.StoreUserRecordAsync();
        Tag = Uri.UnescapeDataString(Tag);
        blogPosts = (await blogPostRepository.GetAllAsync(
            b => b.Tags.Any(t => t.Content == Tag), 
            b => b.UpdatedDate))
            .ToList();
    }
}