@using LinkDotNet.Blog.Domain
<span class="d-inline-flex align-items-center rounded px-2 py-1 me-2 my-2"
      style="background-color: var(--tag-background); white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
    @if (!string.IsNullOrEmpty(Skill.IconUrl))
    {
        <img src="@Skill.IconUrl" alt="icon" max-width="48px"/>
    }
    @Skill.Name

    @if (ShowAdminActions)
    {
        <button type="button" class="btn btn-default" aria-label="Delete Skill" @onclick="() => DeleteSkill.InvokeAsync()">
            <i class="bin2" aria-hidden="true"></i>
        </button>
    }
</span>

@code {
    [Parameter, EditorRequired]
    public required Skill Skill { get; set; }

    [Parameter]
    public bool ShowAdminActions { get; set; }

    [Parameter]
    public EventCallback DeleteSkill { get; set; }
}
