:root, html[data-bs-theme='light'] {
    /* Fonts */
    --default-font: 'Calibri';
    --code-font: 'Lucida Console', 'Courier New';

	/* Color definitions */
	--wild-sand: #f4f4f4;
	--silver: #dadada;
	--waterloo: rgba(140, 140, 162, 0.25);

	/* Usages */
	--background: var(--wild-sand);
	--tag-background: var(--waterloo);

	--background-gradient-start: var(--wild-sand);
	--background-gradient-end: var(--silver);

    /* Override some Bootstrap defaults */
    --bs-body-font-weight: 300;
    --bs-nav-link-font-weight: 300;
}

html[data-bs-theme='dark'] {
	/* Color definitions */
	--jaguar: rgb(17, 16, 19);
	--shark: rgb(40, 40, 47);
	--trout: rgba(78, 78, 93, 0.5);

	/* Usages */
	--background: var(--jaguar);
	--tag-background: var(--trout);

	--background-gradient-start: var(--jaguar);
	--background-gradient-end: var(--shark);

    /* Override some Bootstrap defaults */
    --bs-body-font-weight: 300;
    --bs-nav-link-font-weight: 300;
}

html {
    height: 100%;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-image: linear-gradient(to bottom, var(--background-gradient-start) 20%, var(--background-gradient-end));
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: var(--default-font), sans-serif !important;
    min-height: 100vh;
    text-rendering: optimizeSpeed;
}

a {
    transition: 0.3s ease-in-out !important;
    font-weight: 500;
}

.disabled a {
    font-weight: 400;
}

h1 {
    word-wrap: break-word;
}

blockquote {
    padding-left: 0.5em;
}

blockquote::before {
    content: open-quote;
    vertical-align: -0.4em;
    line-height: 0.1em;
    font-size: 2.5em;
}

blockquote::after {
    content: close-quote;
    vertical-align: -0.4em;
    line-height: 0.1em;
    font-size: 2.5em;
}

blockquote p {
    display: inline;
}

section {
    padding-bottom: 10px;
}

code {
    font-family: var(--code-font), cursive;
}

.date:before {
    font-family: 'icons';
    font-weight: 900;
    content: "\e953";
}

.theme-toggle:before {
	font-family: 'icons';
	font-weight: 900;
	content: "\e9d5";
}

.read-time:before {
	font-family: 'icons';
	font-weight: 900;
	content: "\e94f";
}

.copy-btn {
	border-color: whitesmoke !important;
}

.copy-btn:active {
	animation: copy-flash 0.5s ease-out;
}

@keyframes copy-flash {
	50% {
		border-color: whitesmoke !important;
		background: whitesmoke;
	}
}

/* Template defined css */
.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

/* Fixes white background/white icon for markdown editors */
.editor-toolbar {
	background: rgb(36, 90, 170) !important;
}

.editor-toolbar button.active, .editor-toolbar button:hover {
    background: rgb(36, 90, 170) !important;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

/* Custom CSS */
.profile-keypoints {
	background-color: var(--tag-background);
	padding-top: 10px;
	padding-left: 2.5em;
	padding-right: 1.5em;
	list-style: none;
	margin-bottom: 0;
}

/* As the MarkupComponent is a base class we have to use deep */
::deep .profile-keypoints li p {
	display: inline;
}

.item-draggable {
	cursor: grab;
}

.nav>.nav-item>button {
	border: 0;
	background: transparent !important;
	color: var(--bs-body-color) !important;
}

/*#endregion */

/*#region Components */
.blog-card {
	display: flex;
	flex-direction: column;
	box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
	margin: 1rem auto 1.6%;
	line-height: 1.4;
	border-radius: 5px;
	overflow: hidden;
	z-index: 0;
	transform: scale(1.0);
	transition: transform 0.35s;
	content-visibility: auto;
	contain-intrinsic-size: 300px;
}

.blog-card:hover {
	transform: scale(1.05);
	transition: 1s ease;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.blog-card a {
	color: inherit;
}

.blog-card .meta {
	position: relative;
	z-index: 0;
	height: 200px;
}

.blog-card .details,
.blog-card .details ul {
	margin: auto;
	padding: 0;
	list-style: none;
}

.blog-card .details {
	position: absolute;
	top: 0;
	bottom: 0;
	left: -100%;
	margin: auto;
	transition: left 0.5s;
	background: rgba(0, 0, 0, 0.6);
	color: var(--bs-white);
	padding: 10px;
	width: 100%;
	font-size: 0.9rem;
}

.blog-card .details a {
	-webkit-text-decoration: dotted underline;
	text-decoration: dotted underline;
}

.blog-card .details ul li {
	display: inline-block;
}

.blog-card .details li:before {
	margin-right: 10px;
}

.blog-card .details li ul:before {
	margin-right: 10px;
}

.blog-card .details .tags li {
	margin-right: 2px;
}

.blog-card .details .tags ul:before {
	font-family: 'icons';
	font-weight: 900;
	content: "\e936";
}

.blog-card .description {
	padding: 1rem;
	background: var(--background);
	position: relative;
	z-index: 1;
}

.blog-card .description .header {
	display: flex;
	justify-content: space-between;
}

.blog-card .description .read-more {
	text-align: right;
}

.blog-card .description .read-more a {
	display: inline-block;
	position: relative;
}

.blog-card .description .read-more a:before {
	font-family: 'icons';
	content: '\ea42';
	display: inline-block;
	font-weight: 900;
	text-decoration: none;
	margin-right: -5px;
	opacity: 0;
	transition: margin 0.3s, opacity 0.3s;
	vertical-align: bottom;
}

.blog-card .description .read-more a:hover:before {
	margin-right: 8px;
	opacity: 1;
	display: inline-block;
}

.blog-card p {
	position: relative;
	margin: 1rem 0 0;
}

.blog-card p:first-of-type {
	margin-top: 1.25rem;
}

.blog-card p:first-of-type:before {
	content: "";
	position: absolute;
	height: 5px;
	width: 35px;
	top: -0.75rem;
	border-radius: 3px;
}

.blog-card:hover .details {
	left: 0;
}

.goto-tag {
	color: white !important;
}

.goto-tag:hover {
	color: #D7D7D7 !important;
}

@media (min-width: 640px) {
	.blog-card {
		flex-direction: row;
		max-width: 1200px;
	}
	.blog-card .meta {
		flex-basis: 30%;
		height: auto;
	}
	.blog-card .description {
		flex-basis: 70%;
	}
	.blog-card .description:before {
		transform: skewX(-3deg);
		content: "";
		background: var(--background);
		width: 30px;
		position: absolute;
		left: -10px;
		top: 0;
		bottom: 0;
		z-index: -1;
	}
	.blog-card.alt {
		flex-direction: row-reverse;
	}
	.blog-card.alt .description:before {
		left: inherit;
		right: -10px;
		transform: skew(3deg);
	}
	.blog-card.alt .details {
		padding-left: 25px;
	}
}
/*#endregion */
