:root {
    /* Fonts */
    --default-font: 'Calibri';
    --code-font: 'Lucida Console', 'Courier New';
}

html {
    height: 100%;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    /*background-image: linear-gradient(to bottom, var(--background-gradient-start) 20%, var(--background-gradient-end));*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: var(--default-font), sans-serif !important;
    min-height: 100vh;
    text-rendering: optimizeSpeed;
}

a {
    transition: 0.3s ease-in-out !important;
    font-weight: 500;
}

.disabled a {
    font-weight: 400;
}

h1 {
    word-wrap: break-word;
}

blockquote {
    padding-left: 0.5em;
}

blockquote::before {
    content: open-quote;
    vertical-align: -0.4em;
    line-height: 0.1em;
    font-size: 2.5em;
}

blockquote::after {
    content: close-quote;
    vertical-align: -0.4em;
    line-height: 0.1em;
    font-size: 2.5em;
}

blockquote p {
    display: inline;
}

section {
    padding-bottom: 10px;
}

code {
    font-family: var(--code-font), cursive;
}

.date:before {
    font-family: 'icons';
    font-weight: 900;
    content: "\e953";
}

.theme-toggle:before {
	font-family: 'icons';
	font-weight: 900;
	content: "\e9d5";
}


/* Template defined css */
.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}
