@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap');

:root {
    /* Color definitions */
    --ceramic: #FCFFF5;
    --tana: #D1DBBD;
    --pewter: #91AA9D;
    --william: #3E606F;
    --big-stone: #193441;  

    --white: #ffffff;
    --wild-sand: #f4f4f4;
    --silver: #DADADA;

    /* Fonts */
    --default-font: 'Quicksand';
    --code-font: 'JetBrains Mono';

    /* Usages - this colors have to be defined in every theme */
    --active-link: var(--big-stone);
    --disabled-link: var(--pewter);
    --link-hover: var(--tana);
    --active-link-inverted: var(--ceramic);
    --link-hover-inverted: var(--tana);

    --header1: var(--william);
    --header1-inverted: var(--ceramic);
    --header2: var(--pewter);
    --text-color: var(--big-stone);
    --text-color-inverted: var(--ceramic);

    --navbar-background: #f4f4f4d0;

    --blockquote-background: var(--wild-sand);
    --blockquote-border: var(--william);
    
    --button-text-color: var(--wild-sand);
    --button-primary-color: var(--william);
    --button-primary-border-color: var(--big-stone);
    --button-primary-hover-color: var(--big-stone);
    --button-secondary-color: var(--big-stone);
    --button-secondary-border-color: var(--big-stone);

    --blog-post-background-color: var(--big-stone);

    --background-gradient-start: var(--wild-sand);
    --background-gradient-end: var(--silver);
}

html {
    height: 100%;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-image: linear-gradient(to bottom, var(--background-gradient-start) 40%, var(--background-gradient-end));
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: var(--default-font), sans-serif;
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

a {
    transition: 0.3s ease-in-out !important;
    font-weight: 500;
    color: var(--active-link) !important;
}

a:hover {
    color: var(--link-hover) !important;
}

.disabled a {
    font-weight: 400;
    color: var(--disabled-link) !important;
}

.inverted-colors a {
    font-weight: 400;
    color: var(--active-link-inverted) !important;
}

.inverted-colors a:hover {
    color: var(--link-hover-inverted) !important;
}

.inverted-colors p {
    color: var(--text-color-inverted) !important;
}

.inverted-colors button {
    color: var(--white) !important;
}

h1 {
    color: var(--header1);
}

h2 {
    color: var(--header2);
}

blockquote {
    border-left: 2px solid var(--header2);
    background: var(--blockquote-background);
    padding-left: 0.5em;
}

blockquote::before {
    content: open-quote;
    color: var(--blockquote-border);
    vertical-align: -0.4em;
    line-height: 0.1em;
    font-size: 2.5em;
}

blockquote::after {
    content: close-quote;
    color: var(--blockquote-border);
    vertical-align: -0.4em;
    line-height: 0.1em;
    font-size: 2.5em;
}

blockquote p {
    display: inline;
}

p {
    color: var(--text-color);
}

section {
    padding-bottom: 10px;
}

.table th {
    background: var(--button-primary-color);
    color: var(--white);
}

code {
    font-family: var(--code-font), cursive;
}

/* Template defined css */
.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}