@font-face {
  font-family: 'icons';
  src:
    url('fonts/icons.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.home:before {
  content: "\e900";
}
.pencil:before {
  content: "\e905";
}
.books:before {
  content: "\e920";
}
.profile:before {
  content: "\e923";
}
.copy:before {
  content: "\e92c";
}
.price-tags:before {
  content: "\e936";
}
.clock2:before {
  content: "\e94f";
}
.calendar:before {
  content: "\e953";
}
.user-tie:before {
  content: "\e976";
}
.search:before {
  content: "\e986";
}
.lock:before {
  content: "\e98f";
}
.unlocked:before {
  content: "\e990";
}
.lab:before {
  content: "\e9aa";
}
.bin2:before {
  content: "\e9ad";
}
.contrast:before {
  content: "\e9d5";
}
.plus:before {
  content: "\ea0a";
}
.circle-right:before {
  content: "\ea42";
}
.share2:before {
  content: "\ea82";
}
.twitter:before {
  content: "\ea96";
}
.rss2:before {
  content: "\ea9c";
}
.github:before {
  content: "\eab0";
}
.linkedin:before {
  content: "\eac9";
}
.list:before {
  content: "\e901";
}
.todo:before {
  content: "\e901";
}
.bullet:before {
  content: "\e901";
}
.menu:before {
  content: "\e901";
}
.options:before {
  content: "\e901";
}
.coin-dollar:before {
  content: "\e93b";
}
.youtube:before {
  content: "\ea9d";
}
