.blog-card {
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
    margin: 1rem auto 1.6%;
    line-height: 1.4;
    border-radius: 5px;
    overflow: hidden;
    z-index: 0;
    transform: scale(1.0);
    transition: transform 0.35s;
    content-visibility: auto;
    contain-intrinsic-size: 300px;
}

.blog-card:hover {
    transform: scale(1.05);
    transition: 1s ease;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.blog-card a {
    color: inherit;
}

.blog-card .meta {
    position: relative;
    z-index: 0;
    height: 200px;
}
.blog-card .details,
.blog-card .details ul {
    margin: auto;
    padding: 0;
    list-style: none;
}
.blog-card .details {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    margin: auto;
    transition: left 0.5s;
    background: rgba(0, 0, 0, 0.6);
    color: var(--bs-white);
    padding: 10px;
    width: 100%;
    font-size: 0.9rem;
}
.blog-card .details a {
    -webkit-text-decoration: dotted underline;
    text-decoration: dotted underline;
}
.blog-card .details ul li {
    display: inline-block;
}

.blog-card .details li:before {
    margin-right: 10px;
}

.blog-card .details li ul:before {
    margin-right: 10px;
}

.blog-card .details .tags li {
    margin-right: 2px;
}

.blog-card .details .tags ul:before {
    font-family: 'icons';
    font-weight: 900;
    content: "\e936";
}

.blog-card .description {
    padding: 1rem;
    background: var(--background);
    position: relative;
    z-index: 1;
}

.blog-card .description h1 {
    line-height: 1;
    margin: 0 0 5px 0;
    font-size: 1.7rem;
}
.blog-card .description .read-more {
    text-align: right;
}
.blog-card .description .read-more a {
    display: inline-block;
    position: relative;
}
.blog-card .description .read-more a:after {
    font-family: 'icons';
    content: '\ea42';
    font-weight: 900;
    text-decoration: none;
    margin-left: -10px;
    opacity: 0;
    transition: margin 0.3s, opacity 0.3s;
}
.blog-card .description .read-more a:hover:after {
    margin-left: 5px;
    opacity: 1;
}

.blog-card .read-time:before {
    font-family: 'icons';
    font-weight: 900;
    content: "\e94f";
}

.blog-card p {
    position: relative;
    margin: 1rem 0 0;
}
.blog-card p:first-of-type {
    margin-top: 1.25rem;
}
.blog-card p:first-of-type:before {
    content: "";
    position: absolute;
    height: 5px;
    width: 35px;
    top: -0.75rem;
    border-radius: 3px;
}
.blog-card:hover .details {
    left: 0;
}

.goto-tag {
	color: white !important;
}

.goto-tag:hover {
	color: #D7D7D7 !important;
}

.schedule {
	background-color: #28a745;
}

.draft {
	background-color: #ff8700;
}

@media (max-width: 400px) {
    .blog-card .description h1 {
        font-size: 1.25rem;
    }
}
@media (min-width: 640px) {
    .blog-card {
        flex-direction: row;
        max-width: 1200px;
    }
    .blog-card .meta {
        flex-basis: 30%;
        height: auto;
    }
    .blog-card .description {
        flex-basis: 70%;
    }
    .blog-card .description:before {
        transform: skewX(-3deg);
        content: "";
		background: var(--background);
        width: 30px;
        position: absolute;
        left: -10px;
        top: 0;
        bottom: 0;
        z-index: -1;
    }
    .blog-card.alt {
        flex-direction: row-reverse;
    }
    .blog-card.alt .description:before {
        left: inherit;
        right: -10px;
        transform: skew(3deg);
    }
    .blog-card.alt .details {
        padding-left: 25px;
    }
}

.admin-action {
    padding-top: 10px;
}
