@page "/dashboard"
@using LinkDotNet.Blog.Web.Features.Admin.Dashboard.Components
@attribute [Authorize]

<div class="container-fluid ms-3">
    <h3>Dashboard</h3>
    <div class="container-fluid">
	    <div class="row mt-3">
            <div class="col-12">
                <VisitCountPerPage></VisitCountPerPage>
            </div>
        </div>
    </div>
</div>
