@page "/searchByTag/{tag}"
@using LinkDotNet.Blog.Domain
@using LinkDotNet.Blog.Infrastructure
@using LinkDotNet.Blog.Infrastructure.Persistence
@using LinkDotNet.Blog.Web.Features.Services
@inject IRepository<BlogPost> BlogPostRepository
@inject IUserRecordService UserRecordService

<PageTitle>Search for tag: @Tag</PageTitle>

<h3>All posts with Tag <em>@Tag</em></h3>

@for (var i = 0; i < blogPosts.Count; i++)
{
    <ShortBlogPost BlogPost="blogPosts[i]" UseAlternativeStyle="@(i % 2 != 0)"></ShortBlogPost>
}
@code {
    [Parameter]
    public string Tag { get; set; }

    IReadOnlyList<BlogPost> blogPosts = PagedList<BlogPost>.Empty;
    protected override async Task OnParametersSetAsync()
    {
        Tag = Uri.UnescapeDataString(Tag);
        blogPosts = await BlogPostRepository.GetAllAsync(
            b => b.IsPublished && b.Tags.Any(t => t == Tag),
            b => b.UpdatedDate);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await UserRecordService.StoreUserRecordAsync();
        }
    }
}