<a href="https://ko-fi.com/@KofiToken" target="_blank" rel="noreferrer">
    <img height="36" width="141" src="https://cdn.ko-fi.com/cdn/kofi2.png?v=3" alt="Buy Me a Coffee at ko-fi.com"/>
</a>

@code {
    [Parameter]
    public string KofiToken { get; set; } = string.Empty;
}