@page "/CreateNew"
@using LinkDotNet.Infrastructure
@inherits MarkdownComponentBase
@inject IRepository _repository
<h3>Create new Blog Post</h3>

<div class="content-area">
    <div class="new-content">
        <EditForm Model="@_model" OnValidSubmit="SaveBlogPostAsync">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="form-group">
                <label for="title">Title</label>
                <InputText class="form-control" id="title" @bind-Value="_model.Title" />
            </div>
            <div class="form-group">
                <label for="short">Short Description</label>
                <InputTextArea class="form-control" id="short" @bind-Value="_model.ShortDescription" rows="4"/>
            </div>
            <div class="form-group">
                <label for="content">Content</label>
                <InputTextArea class="form-control" id="content" @bind-Value="_model.Content" rows="10"/>
            </div>
            <div class="form-group">
                <label for="preview">Preview-Url</label>
                <InputText class="form-control" id="preview" @bind-Value="_model.PreviewImageUrl"/>
            </div>
            <div class="form-group">
                <label for="tags">Tags</label>
                <InputText class="form-control" id="tags" @bind-Value="_model.Tags"/>
            </div>
            
            <button class="btn btn-primary" type="submit">Submit</button>
    
        </EditForm>
    </div>
    <div class="preview">
        <div>
            <header>
                <h1>@_model.Title</h1>
            </header>
            <div>
                @(RenderMarkupString(_model.ShortDescription))
            </div>
            <div>
                @(RenderMarkupString(_model.Content))
            </div>
        </div>
    </div>
</div>
@code {
    private readonly CreateNewModel _model = new();

    private async Task SaveBlogPostAsync()
    {
        await _repository.StoreAsync(_model.ToBlogPost());
    }
}