@page "/dashboard"
@attribute [Authorize]

<div class="page">
    <h3>Dashboard</h3>
    <div class="container-fluid">
        <div class="row">
            <div class="col-auto">
                <div class="card  px-3 py-3">
                    <h5>Total amount of posts: </h5>
                    <h5 style="text-align: center"> 12 </h5>
                </div>
            </div>
        </div>
    </div>
</div>