@page "/draft"
@using LinkDotNet.Infrastructure.Persistence
@using LinkDotNet.Domain
@attribute [Authorize]
@inject IBlogPostRepository blogPostRepository

<div class="page">
    <h3>Draft Blog Posts</h3>

    <div class="content px-4">
        @for (var i = 0; i < blogPosts.Count; i++)
        {
            <ShortBlogPost BlogPost="blogPosts[i]" UseAlternativeStyle="@(i % 2 != 0)"></ShortBlogPost>
        }
    </div>
</div>

@code {
    private IList<BlogPost> blogPosts = new List<BlogPost>();

    protected override async Task OnInitializedAsync()
    {
        blogPosts = (await blogPostRepository.GetAllAsync(p => !p.IsPublished, b => b.UpdatedDate)).ToList();
    }

}