@page "/Sitemap"
@using LinkDotNet.Blog.Web.Features.Admin.Sitemap.Services
@inject ISitemapService SitemapService
@attribute [Authorize]
<h3 xmlns="http://www.w3.org/1999/html">Sitemap</h3>
<div class="row px-2">
    <p>A sitemap is a file which lists all important links in a webpage. It helps crawler to find all of the
        important pages. Especially newer sites benefit from having a sitemap.xml.
        The file will be created at the root of the site. To see the sitemap.xml go here: <a href="/sitemap.xml">sitemap.xml</a>.<br/>
        If you get a 404 there is currently no sitemap.xml</p>
    <button class="btn btn-primary" @onclick="CreateSitemap" disabled="@isGenerating">Create Sitemap</button>

    @if (isGenerating)
    {
        <Loading></Loading>
    }
    @if (sitemapUrlSet != null)
    {
        <table class="table table-striped table-hover h-50">
            <thead>
            <tr>
                <th>Url</th>
                <th>Last Changed</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var url in sitemapUrlSet.Urls)
            {
                <tr>
                    <td>@url.Location</td>
                    <td>@url.LastModified</td>
                </tr>
            }
            </tbody>
        </table>
    }
</div>

@code {
    private SitemapUrlSet sitemapUrlSet;
    private bool isGenerating;

    private async Task CreateSitemap()
    {
        isGenerating = true;
        sitemapUrlSet = await SitemapService.CreateSitemapAsync();
        isGenerating = false;
        await SitemapService.SaveSitemapToFileAsync(sitemapUrlSet);
    }
}