@using LinkDotNet.Infrastructure.Persistence
@using LinkDotNet.Domain
@inject IRepository<BlogPost> blogPostRepository

<div class="card">
    <div class="card-header">Blog Post Visit Counts</div>
    <div class="card-body">
        <table class="table table-striped table-hover">
            <tbody>
            <tr>
                <th>Title</th>
                <th>Clicks</th>
                <th>Likes</th>
            </tr>
            @if (PageVisitCount != null)
            {
                @foreach (var (blogPost, visitCount) in blogPostToCountList)
                {
                    <tr>
                        <td><a href="blogPost/@blogPost.Id">@blogPost.Title</a></td>
                        <td>@visitCount</td>
                        <td>@blogPost.Likes</td>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>
</div>

@code {
    [Parameter]
    public IOrderedEnumerable<KeyValuePair<string, int>> PageVisitCount { get; set; }

    private List<KeyValuePair<BlogPost, int>> blogPostToCountList = new();

    protected override async Task OnParametersSetAsync()
    {
        if (PageVisitCount == null)
        {
            return;
        }

        foreach (var (blogPostUrl, clickCount) in PageVisitCount)
        {
            var blogPostId = blogPostUrl[(blogPostUrl.IndexOf('/') + 1)..];

            if (string.IsNullOrEmpty(blogPostId))
            {
                continue;
            }

            var blogPost = (await blogPostRepository.GetByIdAsync(blogPostId));

            blogPostToCountList.Add(new KeyValuePair<BlogPost, int>(blogPost, clickCount));
        }
    }
}