@page "/bookmarks"
@using LinkDotNet.Blog.Domain
@inject IBookmarkService BookmarkService

@if (bookmarkedPosts.Count <= 0)
{
	<p>You have no bookmarks</p>
}
else
{
	@foreach (var post in bookmarkedPosts)
	{
		<ShortBlogPost BlogPost="post" />
	}
}

@code {
	private IReadOnlyList<BlogPost> bookmarkedPosts = [];

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		bookmarkedPosts = await BookmarkService.GetBookmarkedPosts();
		StateHasChanged();
	}

}
