@page
@model LinkDotNet.Blog.Web.Pages.LoginModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
}

<html>
<head>
    <title>Login</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.7/css/bootstrap.min.css"
          integrity="sha512-fw7f+TcMjTb7bpbLJZlP8g2Y4XcCyFZW8uy8HsRZsH/SwbMw0plKHFHr99DN3l04VsYNwvzicUX/6qurvIxbxw=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <form method="post">
            <div class="form-group">
                <label for="authorName">Enter author name</label>
                <input type="text" id="authorName" name="authorName" class="form-control" />
            </div>
            <input type="submit" class="btn btn-primary" value="Login" />
            <a href="/">Back to home</a>
        </form>
    </div>
</body>
</html>
