<ModalDialog @ref="FeatureDialog" Title="Additional Features">
    <p>Here you will find a comprehensive list over feature you can use additional to classic markdown</p>
    <p>Features marked with <i class="lab"></i> are experimental and can change heavily, get removed or the usage
    changes.</p>
    <p>Use with caution and check the changelog</p>
    <hr/>
    <h3 class="d-inline-block">Slide-Show</h3><i class="lab"></i>
    <p>Will create a slide-show with images specified by the tag.</p>
    <strong>Usage:</strong>
    <code><pre>&lt;slide-show&gt;
    &lt;slide-show-image src="https://picsum.photos/600/200" title="Title 1"&gt;&lt;/slide-show-image&gt;
    &lt;slide-show-image src="https://picsum.photos/500/200" title="Title 2"&gt;&lt;/slide-show-image&gt;
    &lt;slide-show-image src="https://picsum.photos/550/200" title="Title 3"&gt;&lt;/slide-show-image&gt;
&lt;/slide-show&gt;</pre></code>
    <hr />
    <h3 class="d-inline-block">Convert To Markdown</h3><i class="lab"></i>
    <p>By clicking the button in the editor "Convert to Markdown", you will be able to transform HTML content into Markdown content. You will be also able to restore the original content</p>
</ModalDialog>

@code {
	private ModalDialog FeatureDialog { get; set; } = default!;

    public void Open()
    {
        FeatureDialog.Open();
        StateHasChanged();
    }
}
