@using LinkDotNet.Blog.Web.Features.Components
<ModalDialog @ref="FeatureDialog" Title="Additional Features">
    <p>Here you will find a comprehensive list over feature you can use additional to classic markdown</p>
    <p>Features marked with <i class="lab"></i> are experimental and can change heavily, get removed or the usage 
    changes.</p>
    <p>Use with caution and check the changelog</p>
    <hr>
    <h3 style="display:inline-block">Shortcuts</h3>
    <table class="table">
        <thead>
        <tr>
            <th>Keyboard shortcut</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>control b</td>
            <td>Inserts Markdown formatting for bolding text</td>
        </tr>
        <tr>
            <td>control i</td>
            <td>Inserts Markdown formatting for italicizing text</td>
        </tr>
        <tr>
            <td>control m</td>
            <td>Inserts Markdown formatting for creating a link</td>
        </tr>
        </tbody>
    </table>
    <hr/>
    <h3 style="display:inline-block">Slide-Show</h3><i class="lab"></i>
    <p>Will create a slide-show with images specified by the tag.</p>
    <strong>Usage:</strong>
    <code><pre>&lt;slide-show&gt;
    &lt;slide-show-image src="https://picsum.photos/600/200" title="Title 1"&gt;&lt;/slide-show-image&gt;
    &lt;slide-show-image src="https://picsum.photos/500/200" title="Title 2"&gt;&lt;/slide-show-image&gt;
    &lt;slide-show-image src="https://picsum.photos/550/200" title="Title 3"&gt;&lt;/slide-show-image&gt;
&lt;/slide-show&gt;</pre></code>
</ModalDialog>

@code {
    private ModalDialog FeatureDialog { get; set; }

    public void Open()
    {
        FeatureDialog.Open();
        StateHasChanged();
    }
}