<div class="card">
    <div class="card-body">
        <h5 class="card-title">@Text</h5>
        <h4 class="card-text">@TotalAmount</h4>
        <p class="card-text">@AmountLast30Days since last 30 days</p>
    </div>
</div>
@code {
    [Parameter]
    public int TotalAmount { get; set; }

    [Parameter]
    public int AmountLast30Days { get; set; }

    [Parameter]
    public string Text { get; set; }
}