<div class="row mb-3">
    <div class="col-sm-6 col-md-4 col-sm-6">
        <label for="startDate">Since</label>
        <input type="date" class="form-control" id="startDate" @onchange="StartDateChanged"/>
    </div>
    <div class="col-sm-6 col-md-4 col-sm-6">
        <label for="endDate">To</label>
        <input type="date" class="form-control" id="endDate" @onchange="EndDateChanged"/>
    </div>
</div>
@code {
    [Parameter]
    public EventCallback<Filter> FilterChanged { get; set; }

    private Filter filter = new();

    private async Task ApplyFilters() => await FilterChanged.InvokeAsync(filter);

    private async Task StartDateChanged(ChangeEventArgs args)
    {
        filter.StartDate = args.Value is string { Length: >0 } dateTime ? DateOnly.Parse(dateTime) : null;
        await ApplyFilters();
    }

    private async Task EndDateChanged(ChangeEventArgs args)
    {
        filter.EndDate = args.Value is string { Length: >0 } dateTime ? DateOnly.Parse(dateTime) : null;
        await ApplyFilters();
    }
}
