@inject IJSRuntime JsRuntime
@inject AppConfiguration AppConfiguration
<div id="disqus_thread">
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && AppConfiguration.IsDisqusEnabled)
        {
            await using var _ = await JsRuntime.InvokeAsync<IJSObjectReference>("import", "./Features/ShowBlogPost/Components/Disqus.razor.js");
            await JsRuntime.InvokeVoidAsync("initDisqus", AppConfiguration.DisqusConfiguration);
        }
    }
}
