@inject IOptions<ApplicationConfiguration> AppConfiguration
<div class="d-flex flex-column flex-md-row gap-2 justify-content-start">
    @if (AppConfiguration.Value.IsKofiEnabled)
    {
        <div class="mb-2 mb-md-0 me-md-2">
            <Kofi KofiToken="@AppConfiguration.Value.KofiToken"></Kofi>
        </div>
    }

    @if (AppConfiguration.Value.IsGithubSponsorAvailable)
    {
        <div class="mb-2 mb-md-0 me-md-2">
            <GithubSponsor Name="@AppConfiguration.Value.GithubSponsorName"></GithubSponsor>
        </div>
    }

    @if (AppConfiguration.Value.IsPatreonEnabled)
    {
        <div class="mb-2 mb-md-0 me-md-2">
            <Patreon PatreonName="@AppConfiguration.Value.PatreonName"></Patreon>
        </div>
    }
</div>
