@inject IJSRuntime JsRuntime
@inject AppConfiguration AppConfiguration
<div class="giscus">
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && AppConfiguration.IsGiscusEnabled)
        {
            await using var _ = await JsRuntime.InvokeAsync<IJSObjectReference>("import", "./Features/ShowBlogPost/Components/Giscus.razor.js");
            await JsRuntime.InvokeVoidAsync("initGiscus", "giscus", AppConfiguration.GiscusConfiguration);
        }
    }
}
