@using Microsoft.Extensions.Options
@inject IJSRuntime JsRuntime
@inject IOptions<ApplicationConfiguration> AppConfiguration
<div class="giscus">
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && AppConfiguration.Value.IsGiscusEnabled)
        {
            await using var _ = await JsRuntime.InvokeAsync<IJSObjectReference>("import", "./Features/ShowBlogPost/Components/Giscus.razor.js");
            await JsRuntime.InvokeVoidAsync("initGiscus", "giscus", AppConfiguration.Value.Giscus);
        }
    }
}
