<a href="https://github.com/sponsors/@Name" class="text-decoration-none border border-dark rounded p-2 link" target="_blank">
    <i class="github"></i> Sponsors
</a>
@code {
    [Parameter]
    public string Name { get; set; }
}
