@inject IJSRuntime JSRuntime

<div class="reading-progress" @ref="progressContainer" aria-hidden="true">
	<div class="reading-progress-bar" @ref="progressBar"></div>
</div>

@code {
	[Parameter, EditorRequired]
	public required string ContainerCssSelector { get; set; }

	private ElementReference progressContainer;
	private ElementReference progressBar;

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			await using var module = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./Features/ShowBlogPost/Components/ReadingIndicator.razor.js");
			await module.InvokeVoidAsync("initReadingProgress", ContainerCssSelector, progressContainer, progressBar);
		}
	}
}
