.progress-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    opacity: 0;
    transition: opacity 1.5s;
}

.progress-container.visible {
    opacity: 1;
}

@keyframes fadeOut {
     to {
         opacity: 0;
     }
 }

.progress-circle {
    width: 50px;
    height: 50px;
}

.progress-bg {
    fill: none;
    stroke: #f3f3f3;
    stroke-width: 4;
}

.progress-bar {
    fill: none;
    stroke: #4caf50;
    stroke-width: 4;
    stroke-linecap: round;
    transform-origin: center;
    transform: rotate(-90deg);
    stroke-dasharray: 100, 100;
    stroke-dashoffset: 100;
}

[data-bs-theme='light'] .progress-bg {
    stroke: #444444;
}