@inject NavigationManager NavigationManager

<div class="flex-row" style="font-size: 1.5em">
    <a class="text-decoration-none" id="share-linkedin" href="@LinkedInShare" target="_blank" rel="noreferrer"><i class="linkedin"></i></a>
    <a class="text-decoration-none" id="share-clipboard" href="javascript:void(0)" onclick="navigator.clipboard.writeText('@LinkedInShare')"><i class="copy"></i></a>
</div>
@code {
    private string LinkedInShare => $"https://www.linkedin.com/shareArticle?mini=true&url={NavigationManager.Uri}";
}
