.skill-table {
    margin-top: 20px;
    width: 100%;
}

.skill-table td:first-of-type {
    width:10%
}

.skill-table td {
    width: 30%;
    border-top: 1px var(--header2) solid;
    vertical-align: top;
}

.skill-table td div {
    display: inline-block;
    margin-right: 8px;
    margin-top: 12px;
    margin-bottom: 12px;

}