@using LinkDotNet.Domain

<span class="skill-tag">
    @if (!string.IsNullOrEmpty(Skill.IconUrl))
    {
        <img src="@Skill.IconUrl" alt="icon"/>
    }
    @Skill.Name

    @if (IsAuthenticated)
    {
        <button type="button" class="btn btn-default" aria-label="Delete Skill" @onclick="() => DeleteSkill.InvokeAsync()">
            <i class="fas fa-trash-alt" aria-hidden="true"></i>
        </button>
    }
</span>

@code {
    [Parameter]
    public Skill Skill { get; set; }

    [Parameter]
    public bool IsAuthenticated { get; set; }

    [Parameter]
    public EventCallback DeleteSkill { get; set; }
}