<AuthorizeView>
    <Authorized>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
               aria-expanded="false">
                <i class="user-tie"></i> Admin
            </a>
            <ul class="dropdown-menu ps-0" aria-labelledby="navbarDropdown">
                <li><h6 class="dropdown-header">Blog posts</h6></li>
                <li><a class="dropdown-item" href="create">Create new</a></li>
                <li><a class="dropdown-item" href="draft">Show drafts</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><h6 class="dropdown-header">Analytics</h6></li>
                <li><a class="dropdown-item" href="dashboard">Dashboard</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><h6 class="dropdown-header">Others</h6></li>
                <li><a class="dropdown-item" href="Sitemap">Sitemap</a></li>
                <li><hr class="dropdown-divider"></li>
	            <li><a class="dropdown-item" target="_blank" href="https://github.com/linkdotnet/Blog/releases" rel="noreferrer">Releases</a></li>
            </ul>
        </li>
        <li class="nav-item"><a class="nav-link" href="logout?redirectUri=@CurrentUri"><i class="lock"></i> Log out</a></li>
    </Authorized>
    <NotAuthorized>
        <li class="nav-item"><a class="nav-link" href="login?redirectUri=@CurrentUri" rel="nofollow"><i class="unlocked"></i> Log in</a></li>
    </NotAuthorized>
</AuthorizeView>

@code {
	[Parameter]
    public string CurrentUri { get; set; } = string.Empty;
}
