@typeparam T

@using LinkDotNet.Blog.Domain
@using LinkDotNet.Blog.Infrastructure
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item @(!PageList.IsFirstPage && PageList.Count > 0 ? string.Empty : "disabled")">
                <Anchor CssClass="page-link" Href="@PreviousPageLink">Previous</Anchor>
            </li>
            <li class="page-item @(!PageList.IsLastPage && PageList.Count > 0 ? string.Empty : "disabled")">
                <Anchor CssClass="page-link" Href="@NextPageLink">Next</Anchor>
            </li>
        </ul>
    </nav>

@code {
    [Parameter]
    public IPagedList<T> PageList { get; set; }

    private string PreviousPageLink => PageList.IsFirstPage ? string.Empty : $"/{PageList.PageNumber - 1}";
    private string NextPageLink => PageList.IsLastPage ? string.Empty : $"/{PageList.PageNumber + 1}";
}
