@using LinkDotNet.Blog.Domain
@inject IOptions<ApplicationConfiguration> AppConfiguration
@inject IOptions<ProfileInformation> ProfileInformation

<footer id="footer" class="text-center">
    <span class="py-2 mb-0 text-body-secondary">© @DateTime.Now.Year @CopyrightName</span>
</footer>
@code {
    private string CopyrightName => AppConfiguration.Value.IsAboutMeEnabled
        ? ProfileInformation.Value.Name
        : string.Empty;
}
