@using LinkDotNet.Blog.Domain
@using LinkDotNet.Blog.Web.Features.SupportMe.Components
@inject IOptions<ApplicationConfiguration> AppConfiguration
@inject IOptions<ProfileInformation> ProfileInformation
@inject IOptions<SupportMeConfiguration> SupportConfiguration

<footer class="position-absolute bottom-0 w-100 text-center" style="height: 2.5rem;">
	<span class="py-2 mb-0 text-body-secondary">© @DateTime.Now.Year @CopyrightName</span>
	@if (SupportConfiguration.Value.ShowInFooter)
	{
		<div class="pb-2 d-flex justify-content-center">
			<DonationSection />
		</div>
	}
</footer>

@code {
    private string CopyrightName => AppConfiguration.Value.IsAboutMeEnabled
        ? ProfileInformation.Value.Name
        : string.Empty;
}
