@inject AppConfiguration appConfiguration

<footer id="footer" class="text-center">
    <span class="py-2 mb-0 text-muted">© @DateTime.Now.Year @CopyrightName</span>
</footer>
@code {
    private string CopyrightName => appConfiguration.IsAboutMeEnabled
        ? appConfiguration.ProfileInformation.Name
        : string.Empty;
}