@using LinkDotNet.Blog.Domain
@using LinkDotNet.Blog.Web.Features.SupportMe.Components
@inject IOptions<ApplicationConfiguration> AppConfiguration
@inject IOptions<ProfileInformation> ProfileInformation
@inject IOptions<SupportMeConfiguration> SupportConfiguration

<footer id="footer" class="text-center">
    <span class="py-2 mb-0 text-body-secondary">© @DateTime.Now.Year @CopyrightName</span>
    @if (SupportConfiguration.Value.ShowInFooter)
    {
        <div class="pb-2" style="display:flex;justify-content:center">
            <DonationSection />
        </div>
    }
</footer>
@code {
    private string CopyrightName => AppConfiguration.Value.IsAboutMeEnabled
        ? ProfileInformation.Value.Name
        : string.Empty;
}
