@inject AppConfiguration AppConfiguration

<footer id="footer" class="text-center">
    <span class="py-2 mb-0 text-body-secondary">© @DateTime.Now.Year @CopyrightName</span>
</footer>
@code {
    private string CopyrightName => AppConfiguration.IsAboutMeEnabled
        ? AppConfiguration.ProfileInformation.Name
        : string.Empty;
}