@using LinkDotNet.Blog.Domain
@inherits LinkDotNet.Blog.Web.Features.MarkdownComponentBase

<div style="--profile-background: url(@Introduction.BackgroundUrl)" class="@IntroductionClass">
    <div class="introduction-container">
        <div class="profile-picture" style="--profile-image: url(@Introduction.ProfilePictureUrl)">
        </div>
        <div class="profile-text">
            @RenderMarkupString(Introduction.Description)
        </div>
    </div>
</div>
@code {
    [Parameter]
    public Introduction Introduction { get; set; }

    private string IntroductionClass => !string.IsNullOrEmpty(Introduction.BackgroundUrl)
        ? "introduction-background"
        : string.Empty;
}