@using Blazored.Toast.Configuration
@inherits LayoutComponentBase

<BlazoredToasts Position="ToastPosition.BottomRight" />
<div class="position-relative min-vh-100">
    <NavMenu/>

    <main class="py-4">
        @Body
    </main>
    <Footer></Footer>
</div>