@inject AppConfiguration Configuration
@inject NavigationManager NavigationManager
@implements IDisposable

<nav class="navbar navbar-expand-lg navbar-light w-100">
    <div class="container-fluid">
        @if (!string.IsNullOrEmpty(Configuration.BlogBrandUrl))
        {
            <a class="nav-brand ms-5" href="/">
                <img style="max-height: 70px; width: 70px; height: 70px;"
                     src="@Configuration.BlogBrandUrl.ToAbsoluteUrl(NavigationManager.BaseUri)"
                     alt="brand" />
            </a>
        }
        else
        {
            <a class="nav-brand barcode ms-5" href="/">@Configuration.BlogName</a>
        }
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 me-5">
                <li class="nav-item active"><a class="nav-link" href="/"><i class="home"></i> Home</a></li>
                <li class="nav-item active"><a class="nav-link" href="/archive"><i class="books"></i> Archive</a></li>
                @if (Configuration.IsAboutMeEnabled)
                {
                    <li class="nav-item">
                        <a class="nav-link" href="AboutMe"><i class="profile"></i> About
                            me</a></li>
                }
                <li class="nav-item active"><a class="nav-link" href="/feed.rss"><i class="rss2"></i> RSS</a></li>

                <AccessControl CurrentUri="@currentUri"></AccessControl>
                <li class="nav-item"><ThemeToggler Class="nav-link"></ThemeToggler></li>
                <li class="nav-item d-flex">
	                <SearchInput SearchEntered="NavigateToSearchPage"></SearchInput>
                </li>
            </ul>
        </div>
    </div>
</nav>
@code {
    private string currentUri = string.Empty;

    protected override void OnInitialized()
    {
        NavigationManager.LocationChanged += UpdateUri;
        currentUri = NavigationManager.Uri;
    }

    private void NavigateToSearchPage(string searchTerm)
    {
        var escapeDataString = Uri.EscapeDataString(searchTerm);
        NavigationManager.NavigateTo($"search/{escapeDataString}");
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= UpdateUri;
    }

    private void UpdateUri(object sender, LocationChangedEventArgs e)
    {
        currentUri = e.Location;
        StateHasChanged();
    }

}
