<div class="search-bar">
    <input type="text" class="search-bar-input" placeholder="search" aria-label="search" @bind-value="searchTerm"
    @onkeyup="@CheckForEnter" title="Search for blog post via title or tags"/>
    <button class="search-bar-button" aria-label="search submit" @onclick="CallSearchEntered"><i class="search"></i></button>
</div>

@code {
    private string searchTerm = string.Empty;

    [Parameter]
    public EventCallback<string> SearchEntered { get; set; }

    private async Task CallSearchEntered()
    {
        if (string.IsNullOrWhiteSpace(searchTerm))
        {
            return;
        }

        var trimmed = searchTerm.Trim();
        await SearchEntered.InvokeAsync(trimmed);
    }

    private async Task CheckForEnter(KeyboardEventArgs e)
    {
        if (e.Code is "Enter" or "NumpadEnter")
        {
            await SearchEntered.InvokeAsync(searchTerm);
        }
    }

}
