@using LinkDotNet.Blog.Domain
<div class="d-flex flex-row justify-content-center">
    @if (Social.HasLinkedinAccount)
    {
        <a id="linkedin" class="nav-link" target="_blank" href="@Social.LinkedinAccountUrl">
            <i class="fab fa-linkedin"></i>
        </a>
    }
    @if (Social.HasGithubAccount)
    {
        <a id="github" class="nav-link" target="_blank" href="@Social.GithubAccountUrl">
            <i class="fab fa-github"></i>
        </a>
    }
    @if (Social.HasTwitterAccount)
    {
        <a id="twitter" class="nav-link" target="_blank" href="@Social.TwitterAccountUrl">
            <i class="fab fa-twitter"></i>
        </a>
    }
</div>

@code {

    [Parameter]
    public Social Social { get; set; }
}