<button @onclick="OnClickHandler">
	@if (!IsBookmarked)
	{
		<svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
			<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m17 21-5-4-5 4V3.889a.92.92 0 0 1 .244-.629.808.808 0 0 1 .59-.26h8.333a.81.81 0 0 1 .589.26.92.92 0 0 1 .244.63V21Z"/>
		</svg>
	}
	else
	{
		<svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
			<path d="M7.833 2c-.507 0-.98.216-1.318.576A1.92 1.92 0 0 0 6 3.89V21a1 1 0 0 0 1.625.78L12 18.28l4.375 3.5A1 1 0 0 0 18 21V3.889c0-.481-.178-.954-.515-1.313A1.808 1.808 0 0 0 16.167 2H7.833Z"/>
		</svg>
	}
</button>

<style>
	svg :hover {
		fill: grey;
	}
	button {
		border: none;
		color: var(--tag-background);
		background-color: var(--tag-background);
	}
</style>

@code {
	[Parameter] public bool IsBookmarked { get; set; }
	[Parameter] public EventCallback OnClick { get; set; }

	private async Task OnClickHandler()
	{
		await OnClick.InvokeAsync();
	}
}
