@using Blazored.Toast.Configuration
@inherits LayoutComponentBase

<BlazoredToasts Position="ToastPosition.BottomRight" />
<div class="position-relative">
    <NavMenu/>

    <main>
        @Body
    </main>
</div>
<Footer></Footer>