.barcode {
    font-family: 'Libre Barcode 128 Text', cursive;
    text-decoration: none;
    font-weight: 400;
    font-size: 3rem;
}

::deep .navbar-nav li {
    padding-left: 1.25rem;
    white-space: nowrap;
}