@using LinkDotNet.Blog.Domain
@using LinkDotNet.Blog.Infrastructure.Persistence
@inject NavigationManager navigationManager
@inject IToastService toastService
@inject IRepository<BlogPost> blogPostRepository

<AuthorizeView>
    <div class="blogpost-admin">
        <button id="edit-blogpost" type="button" class="btn btn-primary" @onclick="EditBlogPost" aria-label="edit"><i 
        class="fas 
        fa-pen-square"></i> Edit 
            Blogpost</button>
        <button id="delete-blogpost" type="button" class="btn btn-danger" @onclick="ShowConfirmDialog" aria-label="delete"><i class="fas fa-trash"></i> Delete 
            Blogpost</button>
    </div>
    <ConfirmDialog @ref="ConfirmDialog" Title="Delete Blog Post" Content="Do you want to delete the Blog Post?" OnYesPressed="@DeleteBlogPostAsync">
    </ConfirmDialog>
</AuthorizeView>

@code {
    [Parameter]
    public string BlogPostId { get; set; }
    
    private ConfirmDialog ConfirmDialog { get; set; }

    private async Task DeleteBlogPostAsync()
    {
        await blogPostRepository.DeleteAsync(BlogPostId);
        toastService.ShowSuccess("The Blog Post was successfully deleted");
        navigationManager.NavigateTo("/");
    }
    
    private void ShowConfirmDialog()
    {
        ConfirmDialog.Open();
    }

    private void EditBlogPost()
    {
        navigationManager.NavigateTo($"update/{BlogPostId}");
    }

}